<div class="logo">
  <h1>Time Tracker</h1>
</div>
<% if current_user %>
<nav class="custom-nav navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse position-relative" id="navbarNavDropdown">
      <ul class="navbar-nav nav-tabs">
        <li class="nav-item">
          <%= link_to "Home", root_path , class: "nav-link #{active?(root_path)}"%>
        </li>
        <li class="nav-item">
          <%= link_to "Time Entries", posts_path, class: "nav-link #{active?(posts_path)}" %>
        </li>
        <li class="nav-item ">
          <%= link_to "Add new entry", new_post_path, class: "nav-link #{active?(new_post_path)}" , id: "new_post_from_nav"%>
        </li>
        <li class="nav-item dropdown start-100 ms-5">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Options
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% if current_user.try(:type) == 'AdminUser' %>
            <%= link_to "Admin Dashboard", admin_root_path, class: "dropdown-item" %>
            <li><hr class="dropdown-divider"></li>
              <% end %>
            <%= link_to "Log out",  destroy_user_session_path, class: "dropdown-item", method: :delete %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<% end %>